* {
	font-family:
		/*"Caveat", cursive,*/
		Verdana, Geneva, Tahoma, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	background-image: url('/img/image.webp');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 25%;
	background-color: #efeee8;
	background-position: bottom right;
}

.logo {
	width: 50px;
	height: 50px;
}

/*grid*/
.gcontainer {
	width: 95%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header    "
		"main      main      "
		"widget-1  widget-2  "
		"footer    footer    ";
}

/*flex*/
.fcontainer {
	background: none;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
	place-content: flex-start center;
}

.card {
	background: none;}
	/*flex-basis: 200px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
	padding: 2px 16px;
}*/

.caja {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-template-areas:
	"card	card	card";
  }

.header {
	position: sticky;
	z-index: 99;
	top: 0;
	background: #12203E;
	color: #fff;
	grid-area: header;
	padding: 0px;
	margin: 0px;
}

.navcont {
	margin: 20px;
	width: auto;
}

.nav {
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	box-shadow: 10px 5px 8px rgb(166, 239, 244);
	margin: 5px auto;
	padding: 0px;
}

.nav img {
	float: left;
}

.nav p {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 15px 5px 5px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 0;
}

.nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 16px 14px;
	text-decoration: none;
	font-size: 17px;
}

.nav a:hover {
	background-color: #197099;
	color: black;
}

.main {
	grid-area: main;
}

.sidebar {
	grid-column: 3 / 4;
	background: #fAA43D;

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100px;
	grid-area: sidebar;
}

#aboutImg {
	position: relative;
	width: 50vw;
	height: auto;
	margin: 0px;
}

.widget-1,
.widget-2 {
	background: #55a8fd;
	color: #fff;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget-1 {
	grid-area: widget-1;
}

.widget-2 {
	grid-area: widget-2;
}

.footer {
	background: #12203E;
	color: #fff;
	grid-area: footer;
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main main"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}

@media screen and (max-width: 600px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main main"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-1"
			"widget-2 widget-2 widget-2"
			"footer footer footer";
	}
}

.form {
	border: 2px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	margin: 50px;
	background-color: rgb(248, 246, 246);
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* The actual popup */
.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*formulario*/

/* reset */
form input,
form select,
form textarea,
form label {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 100%;
	color: inherit;
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

form label,
form legend {
	font-size: 0.825rem;
	margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea {
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.75em 1rem;
	margin-bottom: 1.5rem;
}

form input:focus,
form select:focus,
form textarea:focus {
	background-color: white;
	outline-style: solid;
	outline-width: thin;
	outline-color: gray;
	outline-offset: -1px;
}

form [type="text"],
form [type="email"] {
	width: 100%;
}

form [type="image"]{
	width: auto;
	padding: 0;
	border: none;
	background: none;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
	width: auto;
	display: inline-flex;
	cursor: pointer;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
	outline: none;
}

form select {
	text-transform: none;
}

/*radio*/
input[type='radio'] {
	--active: #275EFE;
	--active-inner: #fff;
	--focus: 2px rgba(39, 94, 254, .3);
	--border: #BBC1E1;
	--border-hover: #275EFE;
	--background: #fff;
	--disabled: #F6F8FF;
	--disabled-inner: #E1E6F9;
	height: 21px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--bc, var(--border));
	background: var(--b, var(--background));
	transition: background .3s, border-color .3s, box-shadow .2s;

	&:after {
		content: '';
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, .3s) var(--d-t-e, ease), opacity var(--d-o, .2s);
	}

	&:checked {
		--b: var(--active);
		--bc: var(--active);
		--d-o: .3s;
		--d-t: .6s;
		--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	}

	&:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: .9;

		&:checked {
			--b: var(--disabled-inner);
			--bc: var(--border);
		}

		&+label {
			cursor: not-allowed;
		}
	}

	&:hover {
		&:not(:checked) {
			&:not(:disabled) {
				--bc: var(--border-hover);
			}
		}
	}

	&:focus {
		box-shadow: 0 0 0 var(--focus);
	}

	&:not(.switch) {
		width: 21px;

		&:after {
			opacity: var(--o, 0);
		}

		&:checked {
			--o: 1;
		}
	}

	&+label {
		font-size: 14px;
		line-height: 21px;
		display: inline;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
	}
}

input[type='radio'] {
	border-radius: 50%;

	&:after {
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: var(--active-inner);
		opacity: 0;
		transform: scale(var(--s, .7));
	}

	&:checked {
		--s: .5;
	}
}

ul {
	margin: 12px;
	padding: 0;
	list-style: none;
	width: 100%;
	max-width: 320px;

	li {
		margin: 16px 0;
		position: relative;
	}
}

*/ html {
	box-sizing: border-box;
}