* {
	padding: 0px;
	border: 0px;
	font-family:
		"Caveat",  Verdana, Geneva, Tahoma, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 30%;
	background-color: wheat;
	background-position: bottom right;
	/* filter: saturate(1.8) brightness(1) hue-rotate(60); */
}

/*grid*/
.gcontainer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header   "
		"main      main     "
		"widget-1  widget-2 "
		"footer    footer   ";
}

/*flex*/
.fcontainer {
	background: none;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
	place-content: flex-start center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.card {
	background: none;
}

.caja {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto auto;
	grid-template-areas:
		"card	card	card";
}

.header {
	position: sticky;
	z-index: 99;
	top: 0;
	background: #25688a;
	color: white;
	grid-area: header;
	padding: 0px;
	margin: 0px;
	border-radius: 15px;
	border: white 2px solid;
}

.navcont {
	margin: 20px;
	width: auto;
}

.nav {
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	box-shadow: 10px 5px 8px rgb(166, 239, 244);
	margin: 5px auto;
	padding: 0px;
}

.logo {
	width: 1em;
	height: 1em;
	margin: 0%;
}

.nav p {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 15px 5px 5px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 0;
}

.nav a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px 14px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 20px;
	font-weight: bold;
}

.nav a:hover {
	background-color: white;
	color: royalblue;
	font-weight: bold;
}

.nav h2 {
	display: block;
}

.main {
	grid-area: main;
}

.enlaces a {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.7em;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: 0;
}

h2,
h3 {
	font-size: 2em;
}

section {
	background: #25688a;
	color: black;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
	border: white 3px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
}

.boton {
	display: inline-block;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px;
	background-color: royalblue;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton:hover {
	background-color: white;
	color: royalblue;
	font-weight: bold;
}

.texto-izquierda {
	background-image: url("../img/fondoletras.png");
	background-size: cover;
	text-align: center;
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
}

.img-derecha {
	width: 50%;
	text-align: center;
}

.img-derecha img {
	max-width: 100%;
	height: auto;
}

.whatsapp-button {
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #25D366;
	color: white;
	text-align: center;
	align-items: center;
	line-height: 70px;
	/* Alinea el texto verticalmente */
	border-radius: 50%;
	position: fixed;
	bottom: 50px;
	/* Ajusta la posición vertical */
	right: 40px;
	/* Ajusta la posición horizontal */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* Sombra para dar profundidad */
}


.sidebar {
	height: 100%;
	background: #55a8fd;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: normal;
	margin-right: 3px;
	min-height: 100px;
	grid-area: sidebar;
}

#aboutImg {
	position: relative;
	width: 50vw;
	height: auto;
	margin: 0px;
}

.widget-1,
.widget-2 {
	background: #55a8fd;
	color: #fff;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget-1 {
	grid-area: widget-1;
}

.widget-2 {
	grid-area: widget-2;
}

.footer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	grid-area: footer;
}

/*Responsive*/
.contenedor {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header   header "
		"main      main      sidebar"
		"widget-1  widget-2  sidebar"
		"footer    footer    footer";
}


@media screen and (max-width: 900px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main sidebar"
			"main main sidebar"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-areas: "header header header"
			"sidebar sidebar sidebar"
			"main main main"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}

@media screen and (max-width: 600px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main main"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-1"
			"widget-2 widget-2 widget-2"
			"footer footer footer";
	}
}

.form {
	border: 2px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	margin: 50px;
	background-color: rgb(248, 246, 246);
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Fade al popup - animación*/
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*formulario*/

.qcontainer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header    "
		"main      main      "
		"widget-1  widget-2  "
		"footer    footer    ";
}

form input,
form select,
form textarea,
form label {
	font-size: 1.25em;
	color: black;
	border: none;
	border-radius: 0;
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
}

form label,
form legend {
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

/* border, padding, margin, width */
form input,
form select,
form textarea {
	box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.9);
	padding: 0.75em 1rem;
	margin-bottom: 1.5rem;
}

form input:focus,
form select:focus,
form textarea:focus {
	background-color: white;
	outline-style: solid;
	outline-width: thin;
	outline-color: gray;
	outline-offset: -1px;
}

form [type="text"],
form [type="email"] {
	width: 100%;
}

form [type="image"] {
	width: auto;
	padding: 0;
	border: none;
	background: none;
}

form [type="button"],
form [type="submit"],
form [type="reset"] {
	width: auto;
	display: inline-flex;
	cursor: pointer;
}

form [type="button"]:focus,
form [type="submit"]:focus,
form [type="reset"]:focus {
	outline: none;
}

form select {
	text-transform: none;
}

/*radio*/
input[type='radio'] {
	--active: #275EFE;
	--active-inner: #fff;
	--focus: 2px rgba(39, 94, 254, .3);
	--border: #BBC1E1;
	--border-hover: #275EFE;
	--background: #fff;
	--disabled: #F6F8FF;
	--disabled-inner: #E1E6F9;
	height: 21px;
	outline: none;
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	border: 1px solid var(--bc, var(--border));
	background: var(--b, var(--background));
	transition: background .8s, border-color .8s, box-shadow .8s;

	&:after {
		content: '';
		display: block;
		left: 0;
		top: 0;
		position: absolute;
		transition: transform var(--d-t, .9s) var(--d-t-e, ease), opacity var(--d-o, .9s);
	}

	&:checked {
		--b: var(--active);
		--bc: var(--active);
		--d-o: .3s;
		--d-t: .6s;
		--d-t-e: cubic-bezier(.2, .85, .32, 1.2);
	}

	&:disabled {
		--b: var(--disabled);
		cursor: not-allowed;
		opacity: .9;

		&:checked {
			--b: var(--disabled-inner);
			--bc: var(--border);
		}

		&+label {
			cursor: not-allowed;
		}
	}

	&:hover {
		&:not(:checked) {
			&:not(:disabled) {
				--bc: var(--border-hover);
			}
		}
	}

	&:focus {
		box-shadow: 0 0 0 var(--focus);
	}

	&:not(.switch) {
		width: 21px;

		&:after {
			opacity: var(--o, 0);
		}

		&:checked {
			--o: 1;
		}
	}

	&+label {
		font-size: 14px;
		line-height: 21px;
		display: inline;
		vertical-align: top;
		cursor: pointer;
		margin-left: 4px;
	}
}

input[type='radio'] {
	border-radius: 50%;

	&:after {
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: var(--active-inner);
		opacity: 0;
		transform: scale(var(--s, .7));
	}

	&:checked {
		--s: .5;
	}
}

ul {
	margin: 12px;
	padding: 0;
	list-style: none;
	width: 100%;
	max-width: 320px;

	li {
		margin: 16px 0;
		position: relative;
	}
}

*/ html {
	box-sizing: border-box;
}