* {
	padding: 0px;
	border: 0px;
	font-family:
		"Caveat", Verdana, Geneva, Tahoma, sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

body {
	background-image: url('/img/logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 30%;
	background-color: wheat;
	background-position: bottom right;
	/* filter: saturate(1.8) brightness(1) hue-rotate(60); */
}

/*grid*/
.gcontainer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header   "
		"main      main     "
		"widget-1  widget-2 "
		"footer    footer   ";
}

/*flex*/
.fcontainer {
	background: none;
	display: flex;
	flex-flow: row wrap;
	gap: 5px;
	place-content: flex-start center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

.caja {
	display: flex;
	flex-wrap: wrap;
	/* Permite que los elementos se ajusten a nuevas filas si no hay espacio */
	justify-content: center;
	/* Centra los elementos horizontalmente */
	gap: 20px;
	/* Espacio entre elementos */
	padding: 20px;
}

.card {
	flex: 1 1 200px;
	/* Permite que las tarjetas se ajusten hasta un mínimo de 200px */
	max-width: 200px;
	/* Limita el tamaño máximo de las tarjetas */
	min-width: 100px;
	/* Establece un tamaño mínimo para las tarjetas */
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: #fff;
	display: flex;
	flex-direction: column;
	margin: 10px;
}



.header {
	position: static;
	z-index: 99;
	top: 0;
	background: #25688a;
	color: white;
	grid-area: header;
	padding: 0px;
	margin: 0px;
	border-radius: 15px;
	border: white 2px solid;
}

.navcont {
	margin: 20px;
	width: auto;
}

.nav {
	overflow: hidden;
	border-radius: 10px;
	width: 100%;
	/* box-shadow: 10px 5px 8px rgb(166, 239, 244); */
	margin: 5px auto;
	padding: 0px;
}

.logo {
	width: 2em;
	height: 2em;
	margin: 0%;
}

.nav p {
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 15px 5px 5px;
	text-decoration: none;
	font-size: 17px;
	margin-top: 0;
}

.nav a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px 14px;
	text-decoration: none;
	font-size: 1em;
	border-radius: 20px;
	font-weight: bold;
}

.nav a:hover {
	background-color: white;
	color: royalblue;
	font-weight: bold;
}

.nav h2 {
	display: block;
}

.main {
	grid-area: main;
}

.enlaces a {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.7em;
}

h1 {
	font-size: 3em;
	text-align: center;
	margin: 0;
}

h2,
h3 {
	font-size: 2em;
}

section {
	background: #25688a;
	color: black;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
	border: white 3px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
}

#bgindex {
	background-image: url("../img/fondoletras.png");
}

#bgindex p {
	font-size: medium;
}

.boton {
	display: inline-block;
	border: 2px solid white;
	border-radius: 20px;
	padding: 10px;
	background-color: royalblue;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.boton:hover {
	background-color: white;
	color: royalblue;
	font-weight: bold;
}

.texto-izquierda {
	text-align: center;
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 12.5%;
	align-items: center;
}

.texto-izquierda .boton {
	align-items: inherit;
	margin-left: 17px;
}

.texto-izquierda2 {
	text-align: center;
	flex: 1;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 5%;
	align-items: center;
}

.texto-izquierda2 .boton {
	align-items: inherit;
	margin-left: 17px;
}

.img-derecha {
	width: 50%;
	text-align: center;
}

.img-derecha img {
	max-width: 100%;
	height: auto;
}

.whatsapp-button {
	font-size: 50px;
	display: inline-block;
	width: 60px;
	height: 60px;
	background-color: #25D366;
	color: white;
	text-align: center;
	align-items: center;
	line-height: 70px;
	/* Alinea el texto verticalmente */
	border-radius: 50%;
	position: fixed;
	bottom: 50px;
	/* Ajusta la posición vertical */
	right: 40px;
	/* Ajusta la posición horizontal */
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	/* Sombra para dar profundidad */
}


.sidebar {
	height: 100%;
	background: #55a8fd;
	display: flex;
	align-items: center;
	justify-content: center;
	word-wrap: normal;
	margin-right: 3px;
	min-height: 100px;
	grid-area: sidebar;
}

#aboutImg {
	position: relative;
	width: 50vw;
	height: auto;
	margin: 0px;
}

.widget-1,
.widget-2 {
	background: #55a8fd;
	color: #fff;

	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.widget-1 {
	grid-area: widget-1;
}

.widget-2 {
	grid-area: widget-2;
}

.footer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	grid-area: footer;
	justify-content: space-between;
}

.redesSociales {
	display: inline-block;
	justify-content: space-between;
	padding-left: 10px;
	color: white;
}

/*Responsive*/
.contenedor {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header   header "
		"main      main      sidebar"
		"widget-1  widget-2  sidebar"
		"footer    footer    footer";
}


@media screen and (max-width: 900px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main sidebar"
			"main main sidebar"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}

@media screen and (max-width: 768px) {
	.contenedor {
		grid-template-areas: "header header header"
			"sidebar sidebar sidebar"
			"main main main"
			"widget-1 widget-1 widget-2"
			"footer footer footer";
	}
}

@media screen and (max-width: 600px) {
	.contenedor {
		grid-template-areas: "header header header"
			"main main main"
			"sidebar sidebar sidebar"
			"widget-1 widget-1 widget-1"
			"widget-2 widget-2 widget-2"
			"footer footer footer";
	}
}

.table {
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
}

.form {
	border: 2px solid black;
	border-radius: 5px;
	width: 300px;
	padding: 10px;
	margin: 50px;
	background-color: rgb(248, 246, 246);
}

.popup {
	position: relative;
	display: inline-block;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.popup .popuptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}

.popup .popuptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s;
}

/* Fade al popup - animación*/
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*formulario*/

.qcontainer {
	padding: 0px;
	margin: 0px;
	border: white 2px solid;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 20px;
	background: #25688a;
	color: #fff;
	border-radius: 20px;
	width: 90%;
	max-width: 1000px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: auto auto;
	/*repeat(2, auto);*/
	grid-template-rows: auto auto auto auto;
	/*repeat(4, auto);*/
	grid-template-areas:
		"header    header    "
		"main      main      "
		"widget-1  widget-2  "
		"footer    footer    ";
}

/* Formulario */
form {
	background-color: whitesmoke;
	padding: 2em;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 600px;
	margin: auto;
}

form h1 {
	font-size: 2.5em;
	color: #25688a;
	margin-bottom: 1em;
}

form label {
	font-family:
		Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	margin: 1em 0 0.5em;
	color: #333;
}

legend {
	font-family:
		Verdana, Geneva, Tahoma, sans-serif;
}

form input,
form select,
form textarea {
	font-family:
		Verdana, Geneva, Tahoma, sans-serif;
	width: 75%;
	padding: 0.75em;
	margin-bottom: 1em;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
	font-size: 1em;
	color: #333;
}

.radioInt {
	bottom: 20px;
	right: -200px;
	position: relative;
}

form option {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form input:focus,
form select:focus,
form textarea:focus {
	border-color: #25688a;
	outline: none;
}

form fieldset {
	border: none;
	padding: 0;
	margin-bottom: 1em;
}

form fieldset legend {
	font-weight: bold;
	color: #25688a;
	margin-bottom: 0.5em;
}

form fieldset label {
	display: block;
	margin-bottom: 0.5em;
}

form .validation {
	color: red;
	font-size: 0.875em;
	margin-top: -1em;
	margin-bottom: 1em;
}

.boton {
	display: inline-block;
	border: 2px solid #25688a;
	border-radius: 20px;
	padding: 10px 20px;
	background-color: #25688a;
	color: white;
	font-weight: bold;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	margin-right: 1em;
}

.boton:hover {
	background-color: white;
	color: #25688a;
	border-color: #25688a;
}

.boton.enviar {
	background-color: #25688a;
	border-color: #25688a;
}

.boton.reset {
	background-color: #ddd;
	border-color: #ddd;
	color: #333;
}

.boton.reset:hover {
	background-color: white;
	color: #333;
	border-color: #333;
}

/* Estilos para el menú móvil */
/* Estilos generales */

.badmin {
	display: none;
}

.badmin.active {
	display: flex;
}

.navcont nav {
	display: flex;
	/* Mostrar el menú original por defecto */
	z-index: 1;
	/* Asegurar que el menú original esté en el nivel correcto */
}

.menu-bar-movil {
	display: none;
	/* Ocultar el menú móvil por defecto */
	z-index: 2;
	/* Asegurar que el menú móvil se superponga al original */
	position: relative;
	justify-content: space-between;
	/* Añadir esta línea para espaciar los elementos */
	padding: 0 1em;
	/* Añadir espacio horizontal si es necesario */
}

div#sliderMenu.sliderMenu.active {
	position: static;
	z-index: 99;
	top: 0;
	background: royalblue;
	color: white;
	grid-area: header;
	padding: 0px;
	margin: 0px;
	border-radius: 15px;
	border: white 2px solid;
}

.enlacesMovil a {
	float: left;
	color: white;
	text-align: center;
	padding: 16px 14px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 20px;
	font-weight: bold;
}

.enlacesMovil a:hover {
	background-color: white;
	color: royalblue;
	font-weight: bold;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {

	.navcont nav {
		display: none;
		/* Ocultar el menú original en pantallas pequeñas */
	}

	.menu-bar-movil {
		display: flex;
		/* Mostrar el menú móvil en pantallas pequeñas */
		align-items: center;
		justify-content: end;
		/* Alinea los elementos a los extremos */
	}

	.sliderMenu {
		display: none;
		/* Ocultar el slider del menú móvil por defecto */
		position: absolute;
		top: 60px;
		/* Ajusta esto según el tamaño de tu encabezado */
		right: 0;
		background-color: white;
		width: 100%;
		/* Ajusta esto según tus necesidades */
		box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
		flex-direction: column;
		padding: 20px;
		z-index: 3;
		/* Asegura que el menú móvil se superponga */
	}

	.sliderMenu.active {
		display: flex;
		/* Mostrar el slider del menú móvil cuando está activo */
	}

	.menu-principal a {
		display: block;
		padding: 10px 0;
		text-decoration: none;
	}

	.logobar {
		display: none;
		/* Ocultar lo que sea .logobar en pantallas pequeñas, si no es necesario en tu caso elimínalo */
		height: 50px;
	}
}

/* Media query para pantallas grandes */
@media (min-width: 769px) {
	.navcont nav {
		display: flex;
		/* Asegura que el menú original se muestra en pantallas grandes */
	}

	.menu-bar-movil {
		display: none;
		/* Oculta el menú móvil en pantallas grandes */
	}

	.sliderMenu {
		display: none;
		/* Asegura que el slider del menú móvil no se muestra en pantallas grandes */
	}

}